
body {
  /* padding-top: 50px; */
  padding-bottom: 20px;
  margin-bottom: 100px;
  /* Typography */
    font-family: Gungsuh, serif, "Times New Roman";
    /* background-image: url("../assets/picsForWebsite/red_granite.jpeg"); */
    background-color: #fbad3c;
    font-size: 18px;
    line-height: 120%;
}



/* body#sign-up,
#staff,
#home {
  background-color:#fbad3c;

} */
/* body#staff {
  background-color: #dfdce5;
} */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

.container {
  margin-bottom: 10px;

}

 p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: whitesmoke;
}

a {
  color: #fbad3c;
}
/* article {
  background-image: linear-gradient(to bottom right, #fbad3c, #071715);
} */
h1 {
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
}

h4 {
  line-height: 21px;
}

.jumbotron {
  background: none; 
  padding-top: 20px;
}


/* -------Nav Bar------ */
/* NOTE: navbar can be position: fixed, but text should not */
/* Will try position: sticky to see if it works */
/* For position also specify at least one of top, right, bottom or left for sticky positioning to work. */

/* Not sure what navbar-right does, may delete */
.navbar-right {
  padding-top: 7px;
  padding-right: 21px;
  margin-top: 15px;
}

nav
/* setup .navbar-toggle for menu button placement */
button.navbar-toggle {
  margin-top: 50px;
  margin-right: 20px;
  
}

.navbar-left > img {
  /* width: auto; */
  height: 100px;
}
/* FIX: .navbar-brand and #logo should point to same thing */
/* .navbar-brand is used for padding brand for now */
/* .navbar-brand {
  padding: 0px;
} */

/* below is different icon attempt in index */
/* .navbar-left{
  width: 27px;
  height: 40px;
 margin-left: 24px;
} */
/* button {
  padding-top: 20px;
} */

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #fbad3c;
}
/*set background to yellow*/

.navbar,
/* .navbar .navbar-brand, */
.navbar .navbar-nav .dropdown-menu,
.navbar .navbar-nav .dropdown-menu > li >a,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a > .dropdown-toggle,
.navbar .navbar-nav > .active > a {
    color: #fbad3c;
    background-color: #071715;
}


/*hover will cause dropdown*/


/* -------End Nav Bar ------- */

/* ------- Home Page -------*/

body#home {
  /* changed background image from 02 to 05 */
  background-image: url("../assets/picsForWebsite/splashPic05.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#splash-page {
  position: relative;
  margin-bottom: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px #071715;
}
#splash-text {
  /* position: relative; */
  top: 200px;
  color: whitesmoke;
  /* Fix for text over background below */
  width: 100%;
  padding: 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-top: 150px;
}

/* --------- end Home Page -------*/


/* ---------- Program Page ----------*/
#program-article {
  margin-bottom: 10px;
  padding-bottom: 15px;
}
body#program{
  /* background-image: url("../assets/picsForWebsite/splashPic03.jpg") */
} 
#program-info{
  margin-bottom: 15px;
}
/* removing carousel test
to see if carousel settings are affecting placement elsewhere */
/* .carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  height: auto;
} */
/* .carousel-control {
  visibility: hidden;
}

.carousel-control:hover {
  opacity: 0.5;
} */

.img-thumbnail { 
-webkit-filter: grayscale(1);
filter: grayscale(1);
}
img:hover {
-webkit-filter: grayscale(0);
filter: none;
}
#program-image img {
  margin-left: 0;
  /* width: 256px; */
  /* height: 192px; */
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

#test-color {
  color: #071715;
}
/* -------- end Program Page ---------*/


/* --------Staff Page -------- */

body#staff {
  background-image: url("../assets/picsForWebsite/bg02.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*opposite of .session-info*/
.about-staff {
  background-image: linear-gradient(to bottom right, #fbad3c, #071715);
}

#staff-title {
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
}
.about-staff-header {
margin-bottom: 33px;
font-weight: bold;

}

.about-staff,
.session-info {
  width: 100%;
  padding: 30px;
  margin-top: 33px;
  margin-bottom: 20px;
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
  
}

/* .about-staff > p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
} */

#profile-image {
  float: left;
  width:192px;
  height: 288px;
  /* margin-top: 30px;
  margin-right: 20px; */
  margin: 30px 20px 10px 0px;
}
/* --------End Staff Page --------*/


/* --------- Sign Up Page -----------*/

body#sign-up {
  background-image: url("../assets/picsForWebsite/bg03.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*opposite of .about-staff*/
.session-info {
  background-image: linear-gradient(to bottom right, #071715, #fbad3c);
}

#page-title {
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
}

/*--------- End Sign Up Page ---------*/


/* --------Footer -------- */
footer {
  /* Positioning absolute breaks */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fbad3c;
}

.footer-text{
  color: #071715;
}
.footer-two-tone {
  
  background-color: #071715;
  height: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  
 
}
#connect-images {
 
  display: flex;
  justify-content: center;
}
.social {
  
  height: 36px;
  width: 36px;
  margin: 20px;
  
}
/* --------End footer -------- */
@media only screen and (max-width: 767px) {
 
  #logo > img {
    width: 100%;
    max-width: 300px;
  
    /* Need to adjust menu button to center */
    
    /* Box-model */
    height: 150px;
 

    /* Positioning */
    margin-left: 0;
  }
 
  .jumbotron{
    padding-top: 0;
    margin-bottom: 0;
  }
  .navbar{
    margin-bottom: 0;
  }
}