
body {
  /* padding-top: 50px; */
  padding-bottom: 20px;
  margin-bottom: 100px;
  /* Typography */
    font-family: Gungsuh, serif, "Times New Roman";
    /* background-image: url("../assets/picsForWebsite/red_granite.jpeg"); */
    background-color: #dfdce5;
    font-size: 18px;
    line-height: 120%;
}

body#home {
  background-image: url("../assets/picsForWebsite/splashPic02.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body#sign-up {
  background-color:#fbad3c

}
/* body#staff {
  background-color: #dfdce5;
} */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
  /*Typography */
}
#page-title {
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
}
.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.carousel-control {
  opacity: 0.5;
}

.carousel-control:hover {
  opacity: 0.5;
}

.jumbotron {
  background: none; 
}


/* -------Nav Bar------ */

/*set text to black*/
/* .navbar {
  color: #ffdf00;
  background-color: #071715;
} */

/* change brand color */


/*FIX:  icon-bar color still not changed to below */
.navbar .navbar-toggle .icon-bar {
  color: #fbad3c;
}
/*set background to yellow*/
/*hover should highlight*/
.navbar,
.navbar .navbar-brand,
.navbar .navbar-nav .dropdown-menu,
.navbar .navbar-nav .dropdown-menu > li >a,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a > .dropdown-toggle,
.navbar .navbar-nav > .active > a {
    color: #fbad3c;
    background-color: #071715;
}
/*hover will cause dropdown*/


/* -------End Nav Bar ------- */

/* ------- Home Page -------*/
#splash-page {
  margin-bottom: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px #071715;
}


/* --------- end Home Page -------*/

/* --------Staff Page -------- */

body#staff {
  background-image: url("../assets/picsForWebsite/bg01.jpeg");
}

#staff-title {
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
}
.about-staff-header {
margin-bottom: 33px;
font-weight: bold;

}

.about-staff {
  width: 100%;
  padding: 30px;
  margin-top: 33px;
  margin-bottom: 11px;
  color: #dfdce5;
  text-shadow: 2px 2px 5px #071715;
  
}

.about-staff > p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
}

#profile-image {
  float: left;
  width: 200px;
  height: 230px;
  /* margin-top: 30px;
  margin-right: 20px; */
  margin: 30px 20px 10px 0px;
}
/* --------End Staff Page --------*/

/* --------Footer -------- */
footer {
  /* Positioning absolute breaks */
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  background-color: #fbad3c;
}

.footer-text{
  color: #071715;
}
.footer-two-tone {
  
  background-color: #071715;
  height: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
#connect-images {
 
  display: flex;
  justify-content: center;
}
.social {
  
  height: 36px;
  width: 36px;
  margin: 20px;
  
}
/* --------End footer -------- */
